<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        section{
          padding: 60px 0;
        }
      </style>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light pt-5 pb-4">
        <div class="container-xxl">
        <!-- navbar brand / title -->
        <a class="navbar-brand" href="#intro">
            <span class="text-secondary fw-bold">
            Nostalgiapedia
            </span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#topics">Our Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Log in</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="text-center">
        <h1>Website Title</h1>
        <div class="btn-group btn-group-lg my-5" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">...</button>
          <button type="button" class="btn btn-outline-primary">80s</button>
          <button type="button" class="btn btn-outline-primary">90s</button>
          <button type="button" class="btn btn-outline-primary">00s</button>
          <button type="button" class="btn btn-outline-primary">...</button>
        </div>
        <div><br></div>
       <h2>Your Nostaliga</h2>
       <div class="container-sm w-50">
        <div class="row justify-content-center">
          <div class="col-2"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col-2"><img src="/images/Unknown.jpeg"  class="img-fluid"  alt="Unknown"></div>
          <div class="col-2"><img src="/images/Unknown.jpeg"  class="img-fluid"  alt="Unknown"></div>
          <div class="col-2">
            <div class="card" style="width: 6.5rem; height: 6.1rem;">
              <div class="card-body">
                <a href="#" class="btn btn-primary" style="margin-top: 0.9rem;">Add</a>
              </div>
            </div>
          </div>
        </div>
       </div>
       <!-- example images from various decades -->
       <div class="container shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 8rem;">
        <div class="row" style="margin: 10px;">
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
        </div>
        <div class="row" style="margin: 10px;">
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
        </div>
        <div class="row" style="margin: 10px;">
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
        </div>
        <div class="row" style="margin: 10px;">
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
          <div class="col"><img src= "/images/Unknown.jpeg" class="img-fluid" alt="Unknown"></div>
        </div>
       </div>
    </div>

   <div class="user content">
        

           
       </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>