


   <!-- Nostalgia Gallery Section -->
   <section class="gallery">
    <h1>Nostalgia Gallery</h1>
    <div class="remember-when">
      <p>Remember When?</p>
    </div>
    <p class="share-text">Share your memories with us and relive the past.</p>
    <button type="button" class="upload-btn" onclick="openModal()">Upload Photos</button>
    
    <div class="image-grid" id="image-grid">
      <!-- Uploaded images will be displayed here -->
      <img src="/public/images/imgGroup.jpg" alt="Image 1">
      <img src="/public/images/img2.jpg" alt="Image 2">
      <img src="/public/images/img3.jpg" alt="Image 3">
      <img src="/public/images/img4.jpg" alt="Image 4">
      <img src="/public/images/img5.jpg" alt="Image 5">
      <img src="/public/images/img1.jpg" alt="Image Team">
    </div>
  </section>
